@import 'utils';

footer {
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid $oc-gray-3;
  color: #777;
  &::before {
    content: '';
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.3),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.3);
  }
}

.todo {
  &-count {
    float: left;
    text-align: left;
    strong {
      font-weight: 300;
    }
  }

  &-filters {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
    list-style: none;
    li {
      display: inline;
      a {
        color: inherit;
        margin: 3px;
        padding: 3px 7px;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 3px;
        &:hover {
          border-color: $oc-grape-2;
        }
      }
      &.is-selected a {
        border-color: $oc-grape-4;
      }
    }
  }

  &-clear {
    display: none;
    position: relative;
    float: right;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &.is-show {
      display: block;
    }
  }
}